<%- include('partials/header') %>

<header class="header">
    <div class="text-vertical-center">
        <div class ="home_text">
            <img scr="https://scontent-yyz1-1.xx.fbcdn.net/v/t34.0-12/17141787_1647428281941911_1368139369_n.png?oh=5e203633e05bb24e4cf6b76cd999053d&oe=58BE605C" >
            <h3>Bringing Your Social Media to One Place</h3>
        </div>
        <br>
    </div>
</header>

<div class="form-container">
    <h2>Login</h2>
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if(locals.success) { %>
        <div class="alert alert-success"><%= success %></div>
    <% } %>
    <form method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" value="<%= locals.username || '' %>" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="/register" class="btn btn-link">Register</a>
        </div>
    </form>
</div>

<section id="services" class="services bg-primary home_text">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Change The Way You Use Social Media</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Quickly Add Friends</strong>
                            </h4>
                            <p>Add a friend to all of your accounts with one click!</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Single Sign On</strong>
                            </h4>
                            <p>Sign once, Stay signed in forever on all accounts!</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Combined News Feed</strong>
                            </h4>
                            <p>All Of Your New Feeds In One Place</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Easy To Use</strong>
                            </h4>
                            <p>An Easy To Use, Customizable Website</p>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Callout -->
<aside class="callout home_text">
    <div class="text-vertical-center">
        <h1>Change The Way You Use Social Media!</h1>
    </div>
</aside>

<%- include('partials/footer') %>